In [1]:
import pandas as pd

### Load the data file

In [4]:
df = pd.read_csv(r'C:\Users\Manu.Atri\Desktop\Manu Attri Python Assignment\sample_data.csv')

In [5]:
df

,First Name,Last Name,Subjects,DATE,Passing Year,Marks Obtained,Total Marks
0,Manu,Attri,Python,22-08-2021,2021,76,100
1,Mahima,Malik,Statistics,22-08-2021,2021,34,100
2,Muskaan,Aggarwal,PowerBI,29/8/2021,2021,90,100
3,Ankit,Dahiya,Statistics,22-08-2021,2021,56,100
4,Manu,Attri,Python,22-08-2020,2020,78,100
5,Aman,Kumar,Excel,18/8/2020,2020,89,100
6,Riya,Parashar,Data Structures,12/8/2020,2020,54,100
7,Aman,Kumar,Excel,18-08-2021,2021,25,100
8,Riya,Parashar,Data Structures,12/8/2021,2021,58,100
9,Muskaan,Aggarwal,Python,12/8/2020,2020,99,100
10,Manu,Attri,SQL,18-08-2020,2020,78,100
11,Ankit,Dahiya,Statistics,22-08-2021,2021,100,100
12,Mahima,Malik,Statistics,22/8/2020,2020,68,100
13,Aman,Kumar,Deep Learning,12/8/2020,2021,63,100
14,Manu,Attri,SQL,18-08-2021,2021,64,100
15,Mahima,Malik,Mathematics,18-08-2021,2021,81,100
16,Aman,Kumar,Deep Learning,12/8/2021,2021,88,100
17,Manu,Attri,Excel,12/8/2020,2020,99,100
18,Ankit,Dahiya,Deep Learning,18-08-2021,2021,90,100
19,Mahima,Malik,Mathematics,18-08-2020,2020,61,100
20,Manu,Attri,Excel,12/8/2021,2021,59,100
21,Manu,Attri,PowerBI,29-08-2020,2020,74,100
22,Muskaan,Aggarwal,SQL,22-08-2021,2021,77,100
23,Riya,Parashar,Excel,18-08-2020,2020,60,100
24,Aman,Kumar,SQL,22-08-2020,2020,50,100
25,Ankit,Dahiya,PowerBI,29-08-2020,2020,90,100
26,Manu,Attri,PowerBI,29/8/2021,2021,75,100
27,Ankit,Dahiya,PowerBI,29/8/2021,2021,63,100
28,Riya,Parashar,PowerBI,29-08-2020,2020,52,100
29,Muskaan,Aggarwal,PowerBI,29-08-2020,2020,50,100
30,Ankit,Dahiya,Deep Learning,18-08-2020,2020,73,100
31,Riya,Parashar,Python,22-08-2021,2021,84,100
32,Riya,Parashar,PowerBI,29-08-2021,2021,62,100
33,Ankit,Dahiya,Mathematics,12/8/2020,2020,50,100
34,Aman,Kumar,SQL,22-08-2021,2021,62,100
35,Aman,Kumar,Python,29-08-2020,2020,79,100
36,Ankit,Dahiya,Mathematics,12/8/2021,2021,65,100
37,Riya,Parashar,Python,22-08-2020,2020,95,100
38,Aman,Kumar,Python,29-08-2021,2021,55,100
39,Mahima,Malik,Machine Learning,12/8/2021,2021,50,100
40,Mahima,Malik,Machine Learning,12/8/2020,2020,85,100
41,Mahima,Malik,Data Structures,29/8/2021,2021,97,100
42,Mahima,Malik,Data Structures,29-08-2020,2020,54,100
43,Muskaan,Aggarwal,SQL,22-08-2020,2020,70,100
44,Muskaan,Aggarwal,Python,12/8/2021,2021,59,100
45,Muskaan,Aggarwal,Machine Learning,18-08-2021,2021,65,100
46,Muskaan,Aggarwal,Machine Learning,18-08-2020,2020,62,100
47,Riya,Parashar,Excel,18-08-2021,2021,67,100

In [ ]:
df.info()

### Changing the Date Format

In [ ]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [ ]:
df['DATE']= df['DATE'].dt.strftime('%y-%m-%d')

In [ ]:
df

In [ ]:
final_df = df.groupby(['First Name','Passing Year'])[['Marks Obtained']].mean()

In [ ]:
final_df.reset_index(inplace=True)

In [ ]:
final_df.rename({'Marks Obtained':'Yearly Average'}, axis = 1, inplace = True )

In [ ]:
final_df

In [ ]:
df

In [ ]:
ndf = df.merge(final_df, on = ['First Name', 'Passing Year'], how = 'inner', sort = True)

In [ ]:
ndf

In [ ]:
df_subjectwise = df.groupby(['First Name','Subjects'])[['Marks Obtained']].mean()

In [ ]:
df_subjectwise.reset_index(inplace = True)

In [ ]:
df_subjectwise

In [ ]:
df_subjectwise.rename({'Marks Obtained':'Subject Wise Average'}, axis = 1, inplace = True)

In [ ]:
main_df=ndf.merge(df_subjectwise, on = ['First Name', 'Subjects'], how = 'inner')

In [ ]:
main_df

In [ ]:
def grade(average):
        if average >= 90 and average <= 100:
            return 'A'
        elif average >= 80 and average <= 89:
            return 'B'
        elif average >= 70 and average <= 79:
            return 'C'
        elif average >= 60 and average <= 69:
            return 'D'
        elif average >= 50 and average <= 59:
            return 'E'
        else:
            return 'F'

In [ ]:
main_df['Grade(based on Yearly Average)']=main_df['Yearly Average'].apply(grade)

In [ ]:
main_df

In [ ]:
for date in  main_df['DATE'].unique():
#     main_df.loc[main_df['DATE'] == '20-08-18'].to_csv(f'{date}.csv.gz', index = False, compression = 'gzip')
    main_df.loc[main_df['DATE'] == date].to_csv(f'{date}.csv', index = False)

In [ ]:
for date in  df['DATE'].unique():
#     main_df.loc[main_df['DATE'] == '20-08-18'].to_csv(f'{date}.csv.gz', index = False, compression = 'gzip')
    df.loc[df['DATE'] == date].to_csv(f'{date}.csv', index = False)

In [ ]:
main_df.head(10)

In [ ]:
final_df

### cretaing a class which can perform all the above operations

In [ ]:
obj = child_class()

In [ ]:
data = obj.create_csv()

In [ ]:
data

In [1]:
import pandas as pd

In [2]:
class utility:
    
    def __init__(self,file_path = r'C:\Users\Manu.Atri\Desktop\Python Assignments\sample_data.csv'):
        self.df = pd.read_csv(file_path)
    
    def change_date_format(self):
        self.df['DATE'] = pd.to_datetime(self.df['DATE'])
        self.df['DATE']= self.df['DATE'].dt.strftime('%y-%m-%d')
        return self.df  
    
    def avg(self):
        self.final_df = self.df.groupby(['First Name','Passing Year'])[['Marks Obtained']].mean()
        self.final_df.reset_index(inplace=True)
        self.final_df.rename({'Marks Obtained':'Yearly Average'}, axis = 1, inplace = True )
        self.df = self.df.merge(self.final_df, on = ['First Name', 'Passing Year'], how = 'inner', sort = True)
        return self.df
    
    def subject_avg(self):
        self.avg()
        self.df_subjectwise = self.df.groupby(['First Name','Subjects'])[['Marks Obtained']].mean()
        self.df_subjectwise.reset_index(inplace = True)
        self.df_subjectwise.rename({'Marks Obtained':'Subject Wise Average'}, axis = 1, inplace = True)
        self.df =  self.df.merge(self.df_subjectwise, on = ['First Name', 'Subjects'], how = 'inner')
        
        return self.df
    
    def grade(self,average):
        if average >= 90 and average <= 100:
            return 'A'
        elif average >= 80 and average <= 89:
            return 'B'
        elif average >= 70 and average <= 79:
            return 'C'
        elif average >= 60 and average <= 69:
            return 'D'
        elif average >= 50 and average <= 59:
            return 'E'
        else:
            return 'F'
            
      
    def apply_grade(self):
        self.change_date_format()
        self.subject_avg()
        self.df['Grade(based on Yearly Average)']=self.df['Yearly Average'].apply(self.grade)
        return self.df
    
    
class child_class(utility):
    def create_csv(self):
        for date in self.df['DATE'].unique():
            self.df.loc[self.df['DATE'] == date].to_csv(f'{date}.csv.gz', index = False, compression = 'gzip'),self.df.loc[self.df['DATE'] == date].to_csv(f'{date}.csv', index = False)

In [3]:
obj = child_class()

In [4]:
obj.apply_grade()

C:\Users\Manu.Atri\AppData\Local\Temp\ipykernel_12888\3138867116.py:7: UserWarning: Parsing '22-08-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  self.df['DATE'] = pd.to_datetime(self.df['DATE'])
C:\Users\Manu.Atri\AppData\Local\Temp\ipykernel_12888\3138867116.py:7: UserWarning: Parsing '22-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  self.df['DATE'] = pd.to_datetime(self.df['DATE'])
C:\Users\Manu.Atri\AppData\Local\Temp\ipykernel_12888\3138867116.py:7: UserWarning: Parsing '18-08-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  self.df['DATE'] = pd.to_datetime(self.df['DATE'])
C:\Users\Manu.Atri\AppData\Local\Temp\ipykernel_12888\3138867116.py:7: UserWarning: Parsing '18-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  self.df['DATE'] = pd.to_datetime(self.df['DATE'])
C:\Users\Manu.Atri\AppData\Local\Temp\ipykernel_12888\3138867116.py:7: UserWarning: Parsing '29-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  self.df['DATE'] = pd.to_datetime(self.df['DATE'])
C:\Users\Manu.Atri\AppData\Local\Temp\ipykernel_12888\3138867116.py:7: UserWarning: Parsing '29-08-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  self.df['DATE'] = pd.to_datetime(self.df['DATE'])

,First Name,Last Name,Subjects,DATE,Passing Year,Marks Obtained,Total Marks,Yearly Average,Subject Wise Average,Grade(based on Yearly Average)
0,Aman,Kumar,Excel,20-08-18,2020,89,100,72.666667,57.0,C
1,Aman,Kumar,Excel,21-08-18,2021,25,100,58.600000,57.0,E
2,Aman,Kumar,SQL,20-08-22,2020,50,100,72.666667,56.0,C
3,Aman,Kumar,SQL,21-08-22,2021,62,100,58.600000,56.0,E
4,Aman,Kumar,Python,20-08-29,2020,79,100,72.666667,67.0,C
5,Aman,Kumar,Python,21-08-29,2021,55,100,58.600000,67.0,E
6,Aman,Kumar,Deep Learning,20-12-08,2021,63,100,58.600000,75.5,E
7,Aman,Kumar,Deep Learning,21-12-08,2021,88,100,58.600000,75.5,E
8,Ankit,Dahiya,PowerBI,20-08-29,2020,90,100,71.000000,76.5,C
9,Ankit,Dahiya,PowerBI,21-08-29,2021,63,100,74.800000,76.5,C
10,Ankit,Dahiya,Deep Learning,20-08-18,2020,73,100,71.000000,81.5,C
11,Ankit,Dahiya,Deep Learning,21-08-18,2021,90,100,74.800000,81.5,C
12,Ankit,Dahiya,Mathematics,20-12-08,2020,50,100,71.000000,57.5,C
13,Ankit,Dahiya,Mathematics,21-12-08,2021,65,100,74.800000,57.5,C
14,Ankit,Dahiya,Statistics,21-08-22,2021,56,100,74.800000,78.0,C
15,Ankit,Dahiya,Statistics,21-08-22,2021,100,100,74.800000,78.0,C
16,Mahima,Malik,Statistics,20-08-22,2020,68,100,67.000000,51.0,D
17,Mahima,Malik,Statistics,21-08-22,2021,34,100,65.500000,51.0,D
18,Mahima,Malik,Mathematics,20-08-18,2020,61,100,67.000000,71.0,D
19,Mahima,Malik,Mathematics,21-08-18,2021,81,100,65.500000,71.0,D
20,Mahima,Malik,Machine Learning,20-12-08,2020,85,100,67.000000,67.5,D
21,Mahima,Malik,Machine Learning,21-12-08,2021,50,100,65.500000,67.5,D
22,Mahima,Malik,Data Structures,20-08-29,2020,54,100,67.000000,75.5,D
23,Mahima,Malik,Data Structures,21-08-29,2021,97,100,65.500000,75.5,D
24,Manu,Attri,Python,20-08-22,2020,78,100,82.250000,77.0,B
25,Manu,Attri,Python,21-08-22,2021,76,100,68.500000,77.0,D
26,Manu,Attri,SQL,20-08-18,2020,78,100,82.250000,71.0,B
27,Manu,Attri,SQL,21-08-18,2021,64,100,68.500000,71.0,D
28,Manu,Attri,Excel,20-12-08,2020,99,100,82.250000,79.0,B
29,Manu,Attri,Excel,21-12-08,2021,59,100,68.500000,79.0,D
30,Manu,Attri,PowerBI,20-08-29,2020,74,100,82.250000,74.5,B
31,Manu,Attri,PowerBI,21-08-29,2021,75,100,68.500000,74.5,D
32,Muskaan,Aggarwal,Python,20-12-08,2020,99,100,70.250000,79.0,C
33,Muskaan,Aggarwal,Python,21-12-08,2021,59,100,72.750000,79.0,C
34,Muskaan,Aggarwal,PowerBI,20-08-29,2020,50,100,70.250000,70.0,C
35,Muskaan,Aggarwal,PowerBI,21-08-29,2021,90,100,72.750000,70.0,C
36,Muskaan,Aggarwal,SQL,20-08-22,2020,70,100,70.250000,73.5,C
37,Muskaan,Aggarwal,SQL,21-08-22,2021,77,100,72.750000,73.5,C
38,Muskaan,Aggarwal,Machine Learning,20-08-18,2020,62,100,70.250000,63.5,C
39,Muskaan,Aggarwal,Machine Learning,21-08-18,2021,65,100,72.750000,63.5,C
40,Riya,Parashar,Data Structures,20-12-08,2020,54,100,65.250000,56.0,D
41,Riya,Parashar,Data Structures,21-12-08,2021,58,100,67.750000,56.0,D
42,Riya,Parashar,Excel,20-08-18,2020,60,100,65.250000,63.5,D
43,Riya,Parashar,Excel,21-08-18,2021,67,100,67.750000,63.5,D
44,Riya,Parashar,PowerBI,20-08-29,2020,52,100,65.250000,57.0,D
45,Riya,Parashar,PowerBI,21-08-29,2021,62,100,67.750000,57.0,D
46,Riya,Parashar,Python,20-08-22,2020,95,100,65.250000,89.5,D
47,Riya,Parashar,Python,21-08-22,2021,84,100,67.750000,89.5,D

In [5]:
obj.create_csv()

In [ ]:
import pandas as pd
#parent class
class utility:
    
    def __init__(self,file_path = r'C:\Users\Manu.Atri\Desktop\Python Assignments\sample_data.csv'):
        try:
            self.df = pd.read_csv(file_path)
        except Exception as e:
            print(e)
                
        
    #function to change the date format
    
    def change_date_format(self):
        try :
            self.df['DATE'] = pd.to_datetime(self.df['DATE'])
            self.df['DATE']= self.df['DATE'].dt.strftime('%y-%m-%d')
            return self.df
        except Exception as e:
            return e
    
    # calculating the yearly average
    
    def avg(self):
        try:
            self.final_df = self.df.groupby(['First Name','Passing Year'])[['Marks Obtained']].mean()
            self.final_df.reset_index(inplace=True)
            self.final_df.rename({'Marks Obtained':'Yearly Average'}, axis = 1, inplace = True )
            self.df = self.df.merge(self.final_df, on = ['First Name', 'Passing Year'], how = 'inner', sort = True)
            return self.df
        except Exception as e:
            return e
    
    #calculating average on the basis of subjects
    
    def subject_avg(self):
        try:
            self.avg()
            self.df_subjectwise = self.df.groupby(['First Name','Subjects'])[['Marks Obtained']].mean()
            self.df_subjectwise.reset_index(inplace = True)
            self.df_subjectwise.rename({'Marks Obtained':'Subject Wise Average'}, axis = 1, inplace = True)
            self.df =  self.df.merge(self.df_subjectwise, on = ['First Name', 'Subjects'], how = 'inner')
            return self.df
        except Exception as e:
            return e

    #function for assigning grades
    
    def grade(self,average):
        try:
            if average >= 90 and average <= 100:
                return 'A'
            elif average >= 80 and average <= 89:
                return 'B'
            elif average >= 70 and average <= 79:
                return 'C'
            elif average >= 60 and average <= 69:
                return 'D'
            elif average >= 50 and average <= 59:
                return 'E'
            else:
                return 'F'
        except Exception as e:
            return e
            
    #function to implement grades according to averages 
    def apply_grade(self):
        try: 
            self.change_date_format()
            self.subject_avg()
            self.df['Grade(based on Yearly Average)']=self.df['Yearly Average'].apply(self.grade)
            return self.df
        except Exception as e:
            return e
    
#child class    
class child_class(utility):
        def create_csv(self):
            try:
                for date in self.df['DATE'].unique():
                    self.df.loc[self.df['DATE'] == date].to_csv(f'{date}.csv.gz', index = False, compression = 'gzip'),self.df.loc[self.df['DATE'] == date].to_csv(f'{date}.csv', index = False)
            except Exception as e:
                return f'An error occured :'+repr(e)